@use '../../../src/styles/theme.module.scss';

.root {
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: black;
    color: gold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 700;
    &:active {
        border: none;
        filter: contrast(110%) brightness(110%);
    }
}
