.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.heading1 {
    font: var(--title-font);
}

.link {
    color: blue;
    text-decoration-line: underline;
}
